body{
    background-image: url(img/fonto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.contenedor{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
p{
    color: #ffffff;
}
nombre:hover{
    color: #ff1100;
    transition: color 0.3s ease; /* Transición suave */
}