body{
    background-image: url(img/fonto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;

}
.contenedor{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
}
p{
    color: #ffffff;
}
perfil-card:hover{
    transform: translateY(-5px);
    background-color: #8b353591;
}